@import 'bulma/css/bulma.css';

/* تم لایت */
html.is-light {
  background-color: #ffffff;
  color: #4e4e4e;
}

/* تم دارک */
html.is-dark {
  background-color: #000000;
  color: #d0d0d0;
}

/* کارت‌ها */
.card {
  max-width: 300px;
  margin: 15px auto;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
}

html.is-light .card {
  background-color: #ffffff;
  color: #4e4e4e;
}

html.is-dark .card {
  background-color: #1e1e1e;
  color: #d0d0d0;
}

               

/* هدر کارت */
.card-header {
  background-color: #f5f5f5;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-weight: bold;
  text-align: center;
}

html.is-dark .card-header {
  background-color: #333;
  color: #ddd;
}

/* دکمه‌ها */
.button {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button.is-light {
  background-color: transparent;
  color: inherit;
}

.button.is-light:hover {
  background-color: #ddd;
}

html.is-dark .button.is-light:hover {
  background-color: #444;
}
