@import 'bulma/css/bulma.css';

html.is-light {
  background-color: #ffffff;
  color: #000000;
}

html.is-dark{
  background-color: #000000;
  color: #ffffff;
}

.is-light .theme-bg{
  color: #b3b3b3;
}


.is-dark .theme-bg{
  color: #7c7c7c;
}


.is-light .theme-text{
  color: #4e4e4e;
}


.is-dark .theme-text{
  color: #e2e2e2;
}

.opacity-10{
  background-color: inherit;
  opacity: 0.1;
}

.hover-opacity:hover {
  opacity: 0.75;
}